<div class="header-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 col-sm-6">
              <h4 style="padding-top:21px; float: left;">Comapny_Name</h4>
          </div>
          <div class="col-md-6 col-sm-6" id="wedage-wrapper">
              <ul id="wedage">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
                      role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-bell fa-fw"></i>
                      <!-- Counter - Alerts -->
                      <span class="badge badge-danger badge-counter">3+</span>
                  </a>
                  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
                      role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-envelope fa-fw"></i>
                      <!-- Counter - Messages -->
                      <span class="badge badge-danger badge-counter">7</span>
                  </a>
                  <a id="profile-img" class="nav-link dropdown-toggle" href="#"
                      id="userDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <p id="user-name">
                          <small><strong>{{user_fname +' '+ user_lname}}</strong></small>
                      </p>
                      <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">User_name</span> -->
                      <!-- <img class="img-profile rounded-circle" src="../assets/iron.png"> -->
                      <i class="fas fa-user"></i>
                  </a>
              </ul>
          </div>
      </div>
  </div>
</div>