<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <div class="wrapper" style="height:100%" >
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><i class="fas fa-laugh-wink"></i> &nbsp;TANENT</h3>
                <strong><i class="fas fa-laugh-wink"></i></strong>

            </div>

            <ul class="list-unstyled components">

                <li>
                    <a routerLink = "/dashboard"><i class="fas fa-home"></i>
                        HOME
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-briefcase"></i>
                        BUSINESS
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <a routerLink = "/addnewbusiness">
                            <li class="fas fa-image"> </li>
                            ADD NEW BUSINESS
                        </a>
                        <a routerLink = "/allbusiness">
                            <li class="fas fa-copy"> </li>ALL BUSINESS
                        </a>
                        <a routerLink = "/businessapproval">
                            <li class="fas fa-copy"> </li>BUSINESS APPROVAL
                        </a>

                    </ul>
                </li>

                <li>
                    <a href="**">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="**">
                        <i class="fas fa-address-book fa-"></i>
                        CONTACT
                    </a>
                </li>
            </ul>


        </nav>
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">

                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </button>
        </div>

       
    </div>

