


#wrapper-data {
    display: inline-flex;
    padding: 0;     
}

#content {
    width: 100%;

}

#dashboard {
    margin-top: 20px;
}


.badge-danger {
  color: #fff;
  background-color: lightseagreen;
}



  #content2 {
      margin-top: 10px;
  }



