<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12" id="wrapper-data">
          <app-navbar></app-navbar>
          <div class="" id="content">
              <div class="containert-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="header-wrapper">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-6">
                                          <h4 style="padding-top:21px; float: left;">Company_Name</h4>
                                      </div>
                                      <div class="col-md-6 col-sm-6" id="wedage-wrapper">
                                          <ul id="wedage">
                                              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
                                                  role="button" data-toggle="dropdown" aria-haspopup="true"
                                                  aria-expanded="false">
                                                  <i class="fas fa-bell fa-fw"></i>
                                                  <!-- Counter - Alerts -->
                                                  <span class="badge badge-danger badge-counter">3+</span>
                                              </a>
                                              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
                                                  role="button" data-toggle="dropdown" aria-haspopup="true"
                                                  aria-expanded="false">
                                                  <i class="fas fa-envelope fa-fw"></i>
                                                  <!-- Counter - Messages -->
                                                  <span class="badge badge-danger badge-counter">7</span>
                                              </a>
                                              <a id="profile-img" class="nav-link dropdown-toggle" href="#"
                                                  id="userDropdown" role="button" data-toggle="dropdown"
                                                  aria-haspopup="true" aria-expanded="false">
                                                  <p id="user-name">
                                                      <small><strong>{{user_fname +' '+ user_lname}}</strong></small>
                                                  </p>
                                                  <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">User_name</span> -->
                                                  <!-- <img class="img-profile rounded-circle" src="../assets/iron.png"> -->
                                                  <i class="fas fa-user"></i>
                                              </a>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- <div class="container"> -->
              <div class="col-md-12" id="content2">
                <div class="container">
                  <div class="row">
                      <div class="col-md-3 ">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Business Count</div>
                                    <div class="h5 mb-0 font-weight-bold Sblue-800">{{countdata}}</div>
                                  </div>
                                  <div class="col-auto">
                                    <i id="count" class="fas fa-briefcase fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Business Count</div>
                                    <div class="h5 mb-0 font-weight-bold Sblue-800">254</div>
                                  </div>
                                  <div class="col-auto">
                                    <i id="count" class="fas fa-briefcase fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>    
                      </div>
                      <div class="col-md-3">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Business Count</div>
                                    <div class="h5 mb-0 font-weight-bold Sblue-800">1254</div>
                                  </div>
                                  <div class="col-auto">
                                    <i id="count" class="fas fa-briefcase fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>   
                      </div>
          
                      <div class="col-md-3">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Business Count</div>
                                    <div class="h5 mb-0 font-weight-bold Sblue-800">1254786</div>
                                  </div>
                                  <div class="col-auto">
                                    <i id="count" class="fas fa-briefcase fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                  </div>
          
              </div>

              </div>
              <!-- </div> -->
          </div>
      </div>

  </div>
</div>