
#wrapper-data {
    display: inline-flex;
    padding: 0;     
  }
  
  #content {
    width: 100%;
  
  }
  
   #dashboard {
    margin-top: 20px;
  } 
  

  #content2 {
    margin-top: 10px;
}

.badge-danger {
  color: #fff;
  background-color: lightseagreen;
}

.heading {
  text-align: left;
  margin-top: 10px;
}
/* ----------------------------AG-GRID TABLE------------------------------------- */

.aggrid .ag-theme-dark .ag-header-row {
  border: none;
  background: lightseagreen !important;
}