@import "~ag-grid-community/dist/styles/ag-grid.css";
/* @import "~ag-grid-community/dist/styles/ag-theme-balham.css"; */
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";
body
{
	margin: 0;
	padding: 0;
    /* background: url(bg.jpg); */
    background-color: gary !important;
	background-size: cover;
	font-family: sans-serif;
}
.loginBox 
{
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 340px;
	height: 420px;
	padding:  57px 40px;
	box-sizing: border-box;
    background : lightseagreen;
    box-shadow: inset 0px 0px 85px rgba(0,0,0,.5);
    
}

.user
{
	width: 105px;
	height: 110px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px)
}

h2{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}

.loginBox p 
{
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #fff;
}

.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.form-control:focus {
    color: white;
	background-color: transparent;
	box-shadow: none;
	
}

/* 
.loginBox[_ngcontent-c1] input[_ngcontent-c1]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	
} */

a{
	/* color : turquoise !important; */
}
.text-danger {
    color: orange !important;
}
a:hover{
	color: turquoise;
}
.loginOption{
	/* padding-left: 20px; */
	float: right;

}
.btn {
    color: #fff !important;
    /* background-color:darkslategrey !important; */
    background-color: lightseagreen !important;
    border-color: white !important;
    /* box-shadow: inset 0px 0px 85px rgba(0,0,0,.5) !important; */
}
.btn-cust{
	background: #4268D6 !important;
	padding: 17px;
}
.cancel{
	padding: 15px;
	color: blue;
	text-decoration: underline;	
	font-size: 20px;
}

.loginBox input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginBox input :visited{
	 margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}


.ag-theme-dark .ag-header{
	background-color: #2A3F54;
    font-size: 17px;
    font-weight: 600;
    color: white;
}




/* ***************HEADER********************* */


.header-wrapper{
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  #wedage {
    display: inline-flex;
    padding-left: 0;
    float: right;
    margin-right: 42px;
  }
  
  .img-profile{
    height: 34px;
  }
  
  .badge-danger {
    color: #fff;
    background-color: lightseagreen;
}


  #wedage-wrapper
  {
      padding-left: 17%;
      padding-top: 10px;
  }
  
  #user-name {
      display: inline;
      margin-right: 5px;
  
  }
 
  #wedage-wrapper ul a {
      /* color: #66615B; */
      color: lightseagreen;
  }
/* ***************************END HEADER********************************* */
